@import '~@fontsource/cormorant-sc/latin-300.css';
@import '~@fontsource/nunito-sans/latin-200.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	body {
		font-feature-settings: 'kern', 'liga', 'clig', 'calt';
		font-kerning: normal;
	}

	.kern-episode-num {
		font-feature-settings: 'lnum';
		font-variant-numeric: lining-nums;
	}

	.hero-indent {
		text-indent: -0.5em;
	} // TODO: move to extend with package

	.one-word-per-line {
		word-spacing: 1000000px;
	}

	.tooltip {
		position: relative;
	}

	.volume-vertical {
		appearance: slider-vertical;
		writing-mode: bt-lr;
	}

	.tooltip::before {
		border-radius: 10px;
		content: attr(data-text);
		display: none;
		font-size: 0.825rem;
		padding: 0.25rem;
		position: absolute;
		text-align: center;
		top: 100%;
		transform: translate(-20%, -50%);
		width: max-content;
	}

	.tooltip:hover::before {
		display: block;
	}

	a {
		@apply underline hover:font-bold;
	}
}
