@import '~@fontsource/cormorant-sc/latin-300.css';
@import '~@fontsource/nunito-sans/latin-200.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	html {
		font-size: 112.5%; /* 18px */
	}

	body {
		font-feature-settings: 'kern', 'liga', 'clig', 'calt';
		font-kerning: normal;
		@apply bg-black;
	}

	.footer-indent-and-padding {
		padding-left: 2em;
		@apply indent-footer;
	}

	.kern-episode-num {
		font-feature-settings: 'lnum';
		font-variant-numeric: lining-nums;
	}

	.one-word-per-line {
		word-spacing: 1000000px;
	}

	.volume-vertical {
		transform-origin: center center;
		transform: rotate(-90deg);
		position: relative;
		bottom: -4rem;
		margin-bottom: 8rem;
		max-width: 8rem;
		writing-mode: bt-lr;
	}

	.tooltip {
		position: relative;
	}

	.tooltip::before {
		border-radius: 10px;
		content: attr(data-text);
		display: none;
		font-size: 0.825rem;
		padding: 0.25rem;
		position: absolute;
		text-align: center;
		top: 100%;
		transform: translate(-20%, -50%);
		width: max-content;
	}

	.tooltip:hover::before {
		display: block;
	}

	a {
		@apply underline hover:font-bold;
	}
}
